html, body {
    margin: 0px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    /*height: 100%;*/
}

header {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.my-nav {
    border: none;
    border-radius: 0px;
}

.navbar-brand {
    font-weight: normal;
    font-size: 22px;
    text-decoration: none;
}

.logo span {
    float: left;
    font-size: 12px;
    font-weight: normal;
}

nav a {
    font-size:12px;
    color: white !important;
    text-decoration: none;
    cursor: pointer;
}

.navbar-text {
    margin-top: 20px;
    margin-left: 0px;
}

.section {
    /*padding: 50px;*/
    /*height: 100vh;*/
    margin-bottom: 200px;
}

.heading {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

.body-sec {
    height: 95%;
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    border:solid 0px #ddd;
    margin:20px 0 0 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.a_link, .b_link, .c_link, .d_link, .e_link, .f_link {
    margin:20px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding:7px;
    border:solid 1px #e4e4e4;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.a_link a, .b_link a, .c_link a, .d_link a, .e_link a, .f_link a {
    color: black;
    text-decoration: none;
}

.a_link:hover,  .b_link:hover, .c_link:hover, .d_link:hover, .e_link:hover, .f_link:hover {
    border:solid 1px #333;
}

.a_link img {
    background:url('../images/home_icons.png') 0 0px no-repeat;
    height:64px;
    width:64px;
}

.b_link img {
    background:url('../images/home_icons.png') 0 -64px no-repeat;
    height:64px;
    width:64px;
}

.c_link img {
    background:url('../images/home_icons.png') 0 -128px no-repeat;
    height:64px;
    width:64px;
}

.d_link img {
    background:url('../images/home_icons.png') 0 -192px no-repeat;
    height:64px;
    width:64px;
}

.e_link img {
    background:url('../images/home_icons.png') 0 -256px no-repeat;
    height:64px;
    width:64px;
}

.f_link img {
    background:url('../images/home_icons.png') 0 -320px no-repeat;
    height:64px;
    width:64px;
}

.sidebar {
    padding: 52px 25px;
    border-left: solid 1px #ddd;
}

.sidebar li {
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
    .sidebar {
        border-top: solid 1px #ddd;
        border-left: none;
    }

    .a_link, .b_link, .c_link, .d_link, .e_link {
        margin-left: 60px;
        margin-right: 60px;
    }

    .heading {
      font-size: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    .a_link, .b_link, .c_link, .d_link, .e_link {
        margin: 15px;
    }

    .navbar-nav>li>a {
        padding: 14px;
    }

}

.side-heading {
    font-size:14px;
    font-weight: bold;
}

footer{
    position: fixed;
    bottom: 0;
    right: 0;
    margin:auto;
    padding:15px;
    font-size:10px;
    text-align: right;
}

footer p {
    display: inline;
}

footer img {
    width: 15px;
}

.hero-image {
    background: url("../images/hero.jpg") bottom left no-repeat;
    height: 100vh;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: black;
}